<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SELECCION DE NIVEL</title>
</head>
<body>
  
</body>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  body {
    background-image: url("../assets/img/shadow_06.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  </style>