---
import "@/styles/main.css";
import ButtonsWrapPresenta from "../components/ButtonsWrapPresenta.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AVENTURA DE LAS LETRAS</title>
  </head>
  <body class="fade-in">
    <header>
      <h1>Aventura de las Letras</h1>
    </header>
    <ButtonsWrapPresenta />
    <script src="/src/scripts/main.js"></script>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  body {
    background-image: url("../assets/img/shadow_03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .fade-out {
    animation: fadeOut 1s ease-out both;
  }
  .fade-in {
    animation: fadeIn 1s ease-in both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-weight: 800;
    text-shadow:
      0 0 10px black,
      0 0 5px yellow;
    animation: bounce 1s infinite;
    color: red;
    text-align: center;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>
