.playersInfo{
  display: flex;
  justify-content: space-between;

  .heroInfo{
    inline-size: 45%;
    padding: 0.8em;
    margin: 0;

    /* Barra de vida del Héroe */
    .heroBar {
      block-size: 1.5em;
      background-color: hsl(0, 0%, 0%);
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid white;
      box-shadow: 1px 1px 3px black;
      margin-block-end: 1em;
    }
    /* Relleno barra vida del Héroe */
    .heroBarFill {
      inline-size: 100%;
      block-size: 100%;
      background-color: hsl(120, 100%, 50%);
      transition: inline-size 0.5s ease;
    }

    .heroName{
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 800;
      color: black;
      filter: drop-shadow(0 0 3px white);
    }
  }


  .enemyInfo{
    inline-size: 45%;
    padding: 0.8em;
    margin: 0;
  
    /* Barra de vida del Enemigo */
    .enemyBar {
      margin-block-end: 1em;
      block-size: 1.5em;
      background-color: hsl(0, 0%, 30%);
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid white;
      box-shadow: 1px 1px 3px black;
    }
    /* Relleno barra vida del Enemigo */
    .enemyBarFill {
      inline-size: 100%;
      block-size: 100%;
      transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      background: linear-gradient(to right, #ff0000 0%, #cc0000 100%);
    }

    .enemyName{
      padding: 0;
      margin: 0;
      text-align: end;
      font-size: 1.2rem;
      font-weight: 800;
      color: black;
      filter: drop-shadow(0 0 3px red);
    }
  }
}
.mainCounter{
  padding: 0;
  margin-block: 0;
  margin-inline: auto;
  font-size: 5rem;
  font-weight: 800;
  color: red;
  filter: drop-shadow(1px 1px 3px black);
}