@import url(./barsAndCounter.css);
@import url(./enemy.css);
@import url(./hero.css);
@import url(./footer.css);
@import url(./animations.css);
/* ---------------------------------- VARIABLES GLOBALES -------------------------------------- */
:root {
  --bg-dark: hsl(0, 0%, 0%);



  --txtClr-light: hsl(0, 0%, 100%);

  --footer-background: hsl(0, 0%, 10%);
  --footer-text-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}
/* ----------------------------------------- HTML --------------------------------------------- */
html, body{
  height: 100%;
}
/* ----------------------------------------- BODY --------------------------------------------- */
body {
  background-color: var(--bg-dark);
  background-image: url('/assets/img/woodLandscape.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: var(--txtClr-light);
}
/* ----------------------------------------- MAIN --------------------------------------------- */
.mainContent{
  block-size: 100%;
}
/* ----------------------------------------- ARENA -------------------------------------------- */
.gameArena {
  position: relative;
  display: flex;
  align-items: flex-end;
  block-size: 100%;
  padding-inline: 5%;
  z-index: 0;
}